:root {
  --shadow: 0px 1px 7px rgba(0, 0, 0, 0.6);
  --slight-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  --darker-grey: rgb(212, 212, 212);
  --darkest-grey: rgb(189, 189, 189);
}

body {
  margin: 0;
  background-color: white;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  overflow-x: hidden;
}

/* Navbar */

.navbar {
  position: absolute;
  right: 0;
  width: 750px;
  height: 80px;
  background-color: var(--darker-grey);

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border-bottom-left-radius: 35px;
  padding-left: 10px;

  box-shadow: -5px 6px 5px rgba(0, 0, 0, 0.35);
}

.btn {
  width: 120px;
  height: 50px;
  border-radius: 55px;
  border: none;
  background-color: var(--darkest-grey);

  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.35);

  font-size: 20px;
  font-weight: 800;
}

/* Contact Title */

.title {
  position: absolute;
  top: 200px;

  width: 720px;
  height: 90px;
  background-color: var(--darker-grey);

  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;

  font-size: 50px;
  font-weight: 800;
  text-align: center;
  line-height: 100px;

  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.3);
}

/* Contact Info */

.info {
  position: absolute;
  top: 400px;
  left: 40px;

  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  line-height: 15px;
  line-height: 30px;
  text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Form Panel */

form {
  
  position: absolute;
  top: 200px;
  right: 10%;
  width: 600px;

  background-color: var(--darker-grey);
  padding: 25px;
  border-radius: 30px;

  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.header {
  display: block;
  background-color: var(--darkest-grey);

  padding: 15px;
  border-radius: 40px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  width: 50%;
  align-self: center;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3);
}

/* Input styling */

.msgLabel {
  font-size: 15px;
  font-weight: 600;

  position: absolute;
  top: 180px;
  left: 40px;
}
.emailLabel {
  font-size: 14px;
  font-weight: 600;

  position: absolute;
  top: 485px;
  left: 40px;
}

textarea,
input[type="text"] {
  width: 95%;
  background-color: var(--darkest-grey);

  border-radius: 20px;
  border: none;
  font-size: 18px;

  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 0px;
}

textarea {
  height: 250px;
  resize: none;
}
input[type="text"] {
  margin-bottom: 0px;
  height: 70px;
}

/* Send Button */

input[type="submit"] {
  width: 120px;
  height: 45px;
  background-color: var(--darkest-grey);
  border: none;
  border-radius: 35px;
  font-weight: 800;
  font-size: 18px;

  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.35);
  position: absolute;
  bottom: 65px;
  right: inherit;
}

/* ------- Responsive Behavior ------- */


@media (max-width: 1530px) {
  form{
    right: 3%;
  }
  input[type="submit"] {
    right: 80px;
  }
}

/* NAVBAR MERGE */
@media (width <= 1500px) {
  .navbar {
    right: 0px;
  }
}

@media (max-width: 1404px) {
  form{
    width: 500px;
  }

  input[type="submit"] {
    right: 60px;
  }
}

@media (width <= 1366px) {
  .photo {
    right: 100px;
  }
}

/* NAVBAR MERGE */
@media (width <= 1024px) {
  .navbar {
    top: 0px;
    margin: 0px;
  }
}

/* NAVBAR MERGE */
@media (width <=800px) {
  .navbar {
    border-radius: 0px;
    width: 100%;
  }
}

/* NAVBAR MERGE */
@media (width <=700px) {
  .navbar {
    position: relative;
    border-radius: 0px;
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: column;
    margin-bottom: 29px;
  }
  .title{
    position: absolute;
    top: 330px;;
  }
  .info{
    top: 440px;
  }
}

@media (max-width: 1308px) {
  form{
    width: 400px;
  }
}

@media (max-width: 1212px) {
  .title {
    width: 600px;
  }
}

@media (max-width: 1100px) {
  .title {
    width: 500px;
  }
}

@media(max-width: 985px){
  form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 600px;
  }
}
