:root {
  --shadow: 0px 1px 7px rgba(0, 0, 0, 0.6);
  --slight-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  --darker-grey: rgb(212, 212, 212);
  --darkest-grey: rgb(189, 189, 189);
}



.page {
  animation: slideIn 0.5s ease-in-out forwards;
  
  height: 100vh;
  width: 100vw;
  transition: all 0.5s ease;
  
}


@keyframes slideIn {
  from {
    margin-left: -100%;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
.pageCollapsed{
  transform: translateX(100%);
  opacity: 0.5;
}







body {
  margin: 0;
  background-color: white;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  overflow-x: hidden;
}



.navbar {
  z-index: 50;
  position: absolute;
  right: 0;
  width: 800px;
  height: 80px;
  background-color: var(--darker-grey);
  top: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border-bottom-left-radius: 35px;
  padding-left: 10px;

  box-shadow: -5px 6px 5px rgba(0, 0, 0, 0.35);
}

.btn {
  width: 120px;
  height: 50px;
  border-radius: 55px;
  border: none;
  background-color: var(--darkest-grey);

  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.35);

  font-size: 20px;
  font-weight: 800;
}



.title {
  position: relative;
  top: 200px;

  width: 720px;
  height: 90px;
  background-color: var(--darker-grey);

  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;

  font-size: 50px;
  font-weight: 800;
  text-align: center;
  line-height: 100px;

  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.3);
}



.info {
  position: relative;
  top: 400px;
  left: 40px;

  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  line-height: 15px;
  line-height: 30px;
  text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.3);
}



form {
  
  position: relative;
  top: 50px;
  left: 50%;
  width: 600px;

  background-color: var(--darker-grey);
  padding: 25px;
  border-radius: 30px;

  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.header {
  display: block;
  background-color: var(--darkest-grey);

  padding: 15px;
  border-radius: 40px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  width: 50%;
  align-self: center;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3);
}



.msgLabel {
  font-size: 15px;
  font-weight: 600;

  position: absolute;
  top: 180px;
  left: 40px;
}
.emailLabel {
  font-size: 14px;
  font-weight: 600;

  position: absolute;
  top: 485px;
  left: 40px;
}

textarea,
input[type="text"] {
  width: 95%;
  background-color: var(--darkest-grey);

  border-radius: 20px;
  border: none;
  font-size: 18px;

  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 0px;
}

textarea {
  height: 250px;
  resize: none;
}
input[type="text"] {
  margin-bottom: 0px;
  height: 70px;
}



input[type="submit"] {
  width: 120px;
  height: 45px;
  background-color: var(--darkest-grey);
  border: none;
  border-radius: 35px;
  font-weight: 800;
  font-size: 18px;

  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.35);
  position: absolute;
  bottom: 65px;
  right: 60px;
}




.arrowbtn{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  height: 40px;
  display: none;
  z-index: 1000;
}

.icon{
  margin-top: 5px;
  z-index: 3;
  width: 20px;
  height:20px;
  
}
@media (max-width: 1530px) {
  form{
    right: 3%;
  }
  input[type="submit"] {
    right: 80px;
  }
}


@media (width <= 1500px) {
  .navbar {
    right: 0px;
  }
}

@media (max-width: 1404px) {
  form{
    width: 500px;
  }

  input[type="submit"] {
    right: 60px;
  }
}

@media (width <= 1366px) {
  .photo {
    right: 100px;
  }
}


@media (width <= 1024px) {
  .navbar {
    top: 0px;
    margin: 0px;
  }
}


@media (width <=800px) {
  .navbar {
    border-radius: 0px;
    width: 100%;
  }
}


@media (width <=700px) {
  
.navbar.opened + .arrowbtn + .page {
    margin-top: 300px;
}
  .collapsed {
    display: none;
  }
  .arrowbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 90%;
  }
  .opened {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    margin-bottom: 29px;
  }
  .btn{
    height: 40px;
  
  }
.arrowbtn{
    z-index: 50;
    height: 40px;
    left: 90%;
  }


  
  .info{
    position: relative;
    top: 140px;
  }
  .title{
    position: relative;
    width: 600px;
    top: 30px;
    margin-top: 100px;
  }
}

@media (max-width: 1308px) {
  form{
    width: 400px;
  }
}

@media (max-width: 1212px) {
  .title {
    width: 600px;
  }
}

@media (max-width: 1100px) {
  .title {
    width: 500px;
  }
}

@media(max-width: 985px){
  form{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
  }
}
.Contactbtn{
  background-color: rgb(160, 161, 161);
}

.btn{
  transition: all 0.1s ease;
  
}


.btn{
  
overflow: hidden;
position: relative;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 40%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.5), transparent);
    transform: skew(-20deg);
    
    overflow: hidden;
    
}

.btn:hover::after {
    left: 99%;
    overflow: hidden;
    transition: all 0.5s ease-in-out; 
}


.btn:hover{
   
  cursor: pointer;
  background-color: rgb(169, 169, 169);
  transform: scale(1.05);
  overflow: hidden;
}