:root {
  --shadow: 0px 1px 7px rgba(0, 0, 0, 0.6);
  --slight-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  --darker-grey: rgb(212, 212, 212);
  --darkest-grey: rgb(189, 189, 189);
}

.page {
  animation: slideIn 0.5s ease-in-out forwards;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s ease;
}

@keyframes slideIn {
  from {
    margin-left: -100%;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}

.pageCollapsed {
  transform: translateX(100%);
  opacity: 0.5;
}

body {
  background-color: white;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.navbar {
  position: fixed;
  right: 0px;
  width: 800px;
  height: 80px;
  background-color: var(--darker-grey);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom-left-radius: 35px;
  padding-left: 10px;
  line-height: 60px;
  box-shadow: -5px 6px 5px rgba(0, 0, 0, 0.35);
  z-index: 50;
}

.title {
  position: absolute;
  top: 160px;
  width: 720px;
  height: 90px;
  background-color: var(--darker-grey);
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  line-height: 100px;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.3);
}

.btn {
  width: 120px;
  height: 50px;
  border-radius: 55px;
  border: none;
  background-color: rgb(189, 189, 189);
  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.35);
  font-size: 20px;
  font-weight: 800;
  transition: all 0.1s ease;
  position: relative;
  overflow: hidden;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 40%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  transform: skew(-20deg);
}

.btn:hover::after {
  left: 99%;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(169, 169, 169);
  transform: scale(1.05);
}

.desc {
  position: fixed;
  bottom: 0;
  width: 700px;
  height: 250px;
  padding-left: 40px;
  background-color: var(--darker-grey);
  border-top-right-radius: 90%;
  border-top-left-radius: 50px;
  box-shadow: 30px 10px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  z-index: 20;
}

.info {
  position: absolute;
  top: 320px;
  margin-left: 40px;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  line-height: 15px;
  text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.3);
}

.photo {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  top: 300px;
  left: 60%;
  background-color: var(--darker-grey);
}

.arrowbtn {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 40px;
  z-index: 9999;
  display: none;
}

.icon {
  width: 20px;
  height: 20px;
  z-index: 3;
  margin-top: 5px;
}

@media (width <= 1500px) {
  .title {
    width: 600px;
    font-size: 40px;
    top: 100px;
  }
  .info {
    top: 250px;
  }
  .photo {
    background-color: var(--darker-grey);
  }
}

@media (width <= 1100px) {
  .photo {
    position: absolute;
    left: 20%;
    top: 400px;
  }
}

@media (width <= 1024px) {
  .desc {
    width: 600px;
    height: 200px;
  }
  .title {
    width: 600px;
    height: 100px;
    position: relative;
    top: 100px;
    line-height: 60px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    display: flex;
    align-items: center;
  }
  .info {
    position: relative;
    top: 300px;
    margin-bottom: 1200px;
  }
  .photo {
    position: absolute;
    left: 20%;
    top: 600px;
  }
}

@media (width <= 800px) {
  .navbar {
    width: 100%;
    border-radius: 0;
  }
  .photo{
    position: absolute;
    top: 600px;
  }
}

@media (width <= 700px) {
  .navbar.opened ~ .page {
    padding-top: 300px;
  }
  .collapsed {
    display: none;
  }
  .arrowbtn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .opened {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    margin-bottom: 29px;
  }
  .btn {
    height: 40px;
  }
  .title {
    top: 100px;
  }
  .photo {
    top: 600px;
  }
  .info {
    top: 200px;
    line-height: 40px;
  }
}

@media (width <= 630px) {
  .info {
    top: 200px;
    line-height: 40px;
  }
  .desc {
    width: 100%;
    border-radius: 0;
  }
  .photo {
    top: 600px;
    left: 50%;
    transform: translateX(-50%);
  }
  .title {
    position: relative;
    width: 450px;
    line-height: 40px;
  }
}

.HomeBtn {
  background-color: rgb(160, 161, 161);
}

/* ADDED SCROLL FIX FOR MOBILE */
@media (max-width: 700px) {
  .page {
    height: auto;
    min-height: 100vh;
    padding-bottom: 350px; /* allows scroll below fixed desc */
  }
}
