:root {
  --shadow: 0px 1px 7px rgba(0, 0, 0, 0.6);
  --slight-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  --darker-grey: rgb(212, 212, 212);
  --darkest-grey: rgb(189, 189, 189);
}



.page {
  animation: slideIn 0.5s ease-in-out forwards;
  
  height: 100vh;
  width: 100vw;
  transition: all 0.5s ease;
  
}


@keyframes slideIn {
  from {
    margin-left: -100%;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
.pageCollapsed{
  transform: translateX(100%);
  opacity: 0.5;
}







body {
  margin: 0;
}

.title {
  position: absolute;
  width: 720px;
  height: 90px;
  background-color: var(--darker-grey);
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  line-height: 100px;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  top: 120px;
  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.3);
}

.btn {
  width: 120px;
  height: 50px;
  border-radius: 55px;
  border: none;
  background-color: var(--darkest-grey);
  box-shadow: var(--slight-shadow);
  font-size: 20px;
  font-weight: bolder;
}

.navbar {
  position: absolute;
z-index: 50;
  width: 800px;
  height: 80px;
  right: 0px;
  background-color: var(--darker-grey);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  line-height: 60px;
  align-items: center;
  border-bottom-left-radius: 35px;
  padding-left: 10px;

  box-shadow: -5px 6px 5px rgba(0, 0, 0, 0.35);
}
.btn {
  font-weight: 800;
  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: rgb(189, 189, 189);
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.35);
}

.text1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  position: absolute;
  width: 830px;
  height: 350px;
  background-color: var(--darker-grey);
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  line-height: auto;
  text-align: left;
  font-size: 50px;
  font-weight: 500;
  top: 300px;
  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.3);
  font-size: 20px;
padding: 20px;
  
}



.arrowbtn{
position: absolute;
right: 10px;
top: 10px;

width: 60px;
height: 40px;
display: none;
}
.icon{
  margin-top: 5px;
  z-index: 3;
  width: 20px;
  height:20px;
  
}
@media (width <= 1366px) {
  
}

@media (width <= 1500px) {
  
}

@media (width <= 1100px) {
  
}

@media (width <= 1024px) {
  .navbar {
    top: 0px;
    margin: 0px;
  }
}

@media (width <= 800px) {
  .navbar {
    border-radius: 0px;
    width: 100%;
  }


  .text1 {
    top: 500px;
    height: 400px;
    width: 600px;
    
  }
  
  .title{
    top: 250px;
  }
}

@media (width <=700px) {
  
.navbar.opened ~ .page {
    padding-top: 300px;
  }
  .collapsed {
    display: none;
  }
  .arrowbtn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .opened {
    position: absolute;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    margin-bottom: 29px;
  }
  .btn{
    height: 40px;
  }
  .arrowbtn{
    position: fixed;
    z-index: 50;
    height: 40px;
    left: 90%;
  }
  .title{
    position: relative;
    width: 600px;
    top: 30px;
  }
  .text1{
    position: relative;
    top: 100px;
    height: 400px;
  }
}

@media (width <= 630px) {
  .title{

    width: 400px;
  }
  .text1 {
    width: 100%;
    border-radius: 0px;
    height: 100px;
  }
}


.Projectsbtn{
  background-color: rgb(160, 161, 161);
}

.btn{
  transition: all 0.1s ease;
  
}


.btn{
  
overflow: hidden;
position: relative;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 40%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.5), transparent);
    transform: skew(-20deg);
    
    overflow: hidden;
    
}

.btn:hover::after {
    left: 99%;
    overflow: hidden;
    transition: all 0.5s ease-in-out; 
}


.btn:hover{
   
  cursor: pointer;
  background-color: rgb(169, 169, 169);
  transform: scale(1.05);
  overflow: hidden;
}